{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} | Terms and Conditions{% endblock %}
{% block content %}
                <!-- Page Title Start -->
                <div class="container rounded bg-white mt-5">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="p-3 py-5">
                                <div class="d-flex justify-content-between align-items-center mb-3">

                                </div>
                                <div class="row mt-3 text-center">

                                    <h2>Terms & Conditions</h2>
                                    <p class="mt-4">Orders should be made in strips / bottle / Vial / Nos.</p>
                                    <hr>
                                    <p>Intimation should be send with in 5 days from the date of delivery in case of
                                        shortage (for raising credit note).</p>
                                    <hr>
                                    <p style="font-weight: bold;">All products with expiry date from 4 months - 6 months
                                        will have an Additional Sales margin of 33% (Total 55%).</p>
                                    <hr>
                                    <p style="font-weight: bold;">All Products with expiry date of 1-3 months will have
                                        an additional sales Margin of 50% (Total 72%).</p>
                                    <hr>
                                    <p style="font-weight: bold;">Please check the expiry before placing order.</p>
                                    <hr>
                                    <p style="font-weight: bold;">Once order is processed the item will not be taken
                                        back.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
     {% endblock %}